@{
    ViewData["Title"] = "Home";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> Hey there, friendship enthusiast! Are you ready to embark on a journey of creativity, connection, and endless fun? Join us in the wonderful world of friendship bracelet making! Our vibrant and inviting community is all about spreading love, laughter, and, of course, beautifully crafted bracelets. </p>
    <p> Picture this: cozy crafting sessions with your besties, laughter echoing as you weave colorful threads into intricate patterns. With our Friendship Bracelet Making Kits, the possibilities are as boundless as your imagination. Dive into a world where creativity knows no bounds, and every knot ties a memory.</p>
    <br>
    <img src="~/mission5-2.jpg" />
    <br><br>
    <p> Friendship bracelets have a rich history dating back centuries, originating from various cultures around the world. However, they gained significant popularity in the 1970s as a symbol of friendship and unity. Traditionally crafted from colorful threads or yarn, these bracelets were handmade and exchanged between friends as tokens of love and camaraderie. The intricate patterns and weaving techniques varied widely depending on cultural influences, with each bracelet holding unique significance. Over time, friendship bracelet making evolved into a cherished craft enjoyed by people of all ages, fostering connections and memories that last a lifetime.</p>
    <br><img src="~/mission5-1.jpg" />
    <br><br>
    <p>Beyond their sentimental value, friendship bracelet making offers numerous benefits. Engaging in this creative activity promotes mindfulness and relaxation, as the rhythmic weaving and knotting process can be meditative. It also provides an opportunity for self-expression, allowing individuals to customize designs and colors to reflect their personalities and relationships. Additionally, making friendship bracelets fosters social connections and bonding, whether through crafting sessions with friends or gifting handmade bracelets to loved ones. Moreover, it develops fine motor skills and patience, making it an enjoyable hobby with therapeutic effects.</p>
</div>